/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
header {
    padding: 10px 0px 10px 20px;
}
h1 {
    display: inline;
    font-size: 40px;
    vertical-align: top;
}